/* reset */
*		{ margin:0; padding:0; }
body 	{ font-family:"맑은 고딕", 돋움, 굴림;  font-size:0.75em; color:#555 }
img		{ border: 0 }

/* Hyperlink Style */
a:link, a:visited, a:active, a:hover { text-decoration:none } 

a.title:link,
a.title:visited,
a.title:active 		{ font-size:9pt; color:#696969; text-decoration:none }
a.title:hover 		{ font-size:9pt; color:dc143c; text-decoration:none }

.td					{ background-color:#FFFFFF; }
.tdcontent			{ height:10px; }
.tdcontentcenter	{ background-color:#FFFFFF; font-size:9pt; font-family:"Tahoma"; height:10px;text-align:center; }
.tdcontentright		{ background-color:#FFFFFF; font-size:9pt; font-family:"Tahoma"; height:10px;text-align:right; }

.blogtitle			{ font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif; font-weight: bold; font-size:30pt; color:#FFFFFF;text-align:center; }
.blogtag			{ font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;	font-size:9pt; color:#FFFFFF;text-align:center; }
.blogfooter			{ font-size:9pt; font-family:"Tahoma"; height:10px;text-align:center; }							
							
.posttitle			{ font-size:14pt; color:#5A4EB1;font-weight: bold;height:24px; }
.postdate			{ font-size:9pt; height:28px; }
.postcontent		{ font-size:9pt; }
.postwriter			{ font-size:9pt;text-align:right;height:10px; }

.categorytitle		{ font-size:10pt;font-weight: bold;height:32px; }
.categoryitem		{ font-size:9pt;height:18px; }

.inputlabel			{ font-size:9pt;font-weight: bold;height:24px;text-align:right; }
.inputtext			{ font-size:9pt;height:18px;margin-left:5px; }
.inputtextarea  	{ font-size:9pt;margin-left:5px; }

.tablelabel			{ font-size:9pt; font-weight: bold; height:24px; text-align:center; }
.tablecontent		{ height:20px; }

table.main-tbl		{ width:100%; border-collapse:collapse; border:0 }
table.main-tbl td	{ padding:10px 0; text-align:center }
.s-logo				{ width:147px; height:86px; font-size:0; padding-left:-100px; margin:100px auto 0 auto; background:url(/jblog/assets/images/logo.jpg) 0 0 no-repeat }		

.form-login			{ width:250px; margin:40px auto 0 auto }
.form-login label,
.form-login input	{ display:block; float:left; margin-top:15px }
.form-login label	{ width:60px; text-align:right }
.form-login input	{ margin-left:10px; }
.form-login input[type='submit'],
.form-login input[type='reset']	 { margin-top:30px; width:50px }
.form-login input[type='submit'] { margin-left:80px } 	

.form-r-user						{ width:250px; margin:60px auto 0 auto }
.form-r-user label,
.form-r-user input					{ display:block; float:left; margin-top:15px }
.form-r-user input					{ margin-left:10px; }
.form-r-user label					{ width:60px; text-align:right }
.form-r-user input[type='submit']	{ margin:20px 0 10px 130px; width:50px }

ul.menu				{ width:600px; margin:20px auto 10px auto; list-style-type:none }
ul.menu li			{ float:right; margin-left:10px; font-weight:bold }
ul.menu li a:link,	
ul.menu li a:active,
ul.menu li a:hover,
ul.menu li a:visited	{ font-weight:normal; text-decoration:none }
	
.user-list				{ width:600px; margin:50px auto 0 auto }
.user-list h2			{ font-size:1.2em; }
.user-list table		{ margin-top:15px; width:100%; border-collapse:collapse; border:border:1px solid #666 }
.user-list table th,
.user-list table td		{ border:1px solid #666 }
.user-list table th		{ padding:8px 0; font-size:1.0em }
.user-list table td		{ padding:5px }

.jblog					{ background:url(/jblog/assets/images/kubrickbgcolor.jpg) 0 0 }
.jblog .continer		{ width:760px; margin:0 auto }
.continer .head			{ width:760px; height:200px; background:url(/jblog/assets/images/kubrickheader.jpg) 0 0 no-repeat }
.head h1				{ width:100%; padding-top:60px; text-align:center }
.head ul				{ list-style-type: none; margin:40px 30px 0 0 }
.head ul li				{ float:right; color:#fff; margin-right:10px }
.head ul li a			{ color:#fff }
.continer .blogfooter	{ width:760px; height:60px; line-height:60px; background:url(/jblog/assets/images/kubrickfooter.jpg) 0 0 no-repeat}
.continer .content		{ width:760px; background:url(/jblog/assets/images/kubrickbg.jpg) 0 0 repeat-y }

.tbl-category			{ width:550px; border-collapse:collapse; border:border:1px solid #666 }
.tbl-category th,
.tbl-category td		{ border:1px solid #666; padding:5px }